name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate snake
        uses: Platane/snk@v3
        with:
          github_user_name: sungminjung066-lang
          outputs: |
            dist/snake-light.svg?color_snake=#FF5A4F&color_dots=#FFE5E1,#FFB3AA,#FF7A6E,#FF5A4F
            dist/snake-dark.svg?color_snake=#FFA39A&color_dots=#1A1414,#4A2323,#FF5A4F,#FFA39A
            dist/snake.gif?color_snake=#FF5A4F&color_dots=#FFE5E1,#FFB3AA,#FF7A6E,#FF5A4F

      - name: Publish
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
