name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate snake
        uses: Platane/snk@v3
        with:
          github_user_name: sungminjung066-lang
          outputs: |
            dist/snake-light.svg?color_snake=%23FF5A4F&color_dots=%23FFE5E1,%23FFB3AA,%23FF7A6E,%23FF5A4F
            dist/snake-dark.svg?color_snake=%23FF9A8F&color_dots=%233A2626,%236A3434,%23C95A52,%23FF9A8F
            dist/snake.gif?color_snake=%23FF5A4F&color_dots=%23FFE5E1,%23FFB3AA,%23FF7A6E,%23FF5A4F

      - name: Publish
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
