name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate snake
        uses: Platane/snk@v3
        with:
          github_user_name: sungminjung066-lang
          outputs: |
            dist/snake-light.svg?color_snake=%23FF5A4F&color_dots=%23FFE5E1,%23FFD0CA,%23FFB3AA,%23FF7A6E,%23FF5A4F
            dist/snake-dark.svg?color_snake=%23FF7A6E&color_dots=%232A1F1F,%23402A2A,%235B2B2B,%23B94A44,%23FF7A6E
            dist/snake.gif?color_snake=%23FF5A4F&color_dots=%23FFE5E1,%23FFD0CA,%23FFB3AA,%23FF7A6E,%23FF5A4F&color_background=%23000000

      - name: Publish
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
